__pycache__/rects.cpython-311.pyc
__pycache__/world.cpython-311.pyc
__pycache__/rects.cpython-311.pyc
__pycache__/world.cpython-310.pyc
__pycache__/rects.cpython-310.pyc
__pycache__/border.cpython-310.pyc
__pycache__/world.cpython-310.pyc
